extends layout

block content
  h1 LinkedIn2CV
  p.lead Get a nice impression with a stylish PDF version of your linkedin account data.
  if !user
    .form-group.row.justify-content-md-center
        .offset-sm-3.col-sm-7
          a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
            i.fa.fa-linkedin
            | Sign in with LinkedIn
  hr
  h1 Available templates for social networks
  p So far we have these templates for your social account.
  p Connect your social account and share your CV with style.

  for t in templates
    img(src='https://img.icons8.com/doodle/1x/'+t.entityMap.toLowerCase()+'.png')
    p #{t.name}
  
  p We don't collect or copy your social information. Please, read our 
    a(href='/privacy') Privacy statements