doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{user.profile.name} - LinkedIn2CV
        meta(name='description', content='Linkedin2CV generated template')
        link(rel='shortcut icon', href='/images/favicon.png')
        style(type="text/css").
            body {
                font-family:"Helvetica Neue", "Lucida Grande", "Arial";
            }
    body