$blue: #0061A5;
$blue-darker: darken($blue, 5);

html {
  background-color: #FFFFFF;
}
 
body {
  background: #FFFFFF;
  font-family: "Roboto", "Helvetica", "FreeSans", sans-serif;
  padding: 10px;
  font-size: 8px;
}